---
layout: default
title: If tea can't fix it, it's a serious problem.
description: 
keywords: 
---

<section role="main">
  
  <div class="row expanded head-bg">
    {% include head.html %}
  </div>
  <div class="row expanded quote-bg">
    {% include quote.html %}
  </div>
  <div class="row profil-bg">
    {% include profil.html %}
  </div>
  <div class="row expanded projects-bg">
    {% include projects.html %}
  </div>
  <div class="row expanded instagram-bg">
    {% include instagram_feed.html %}
  </div>
  <div class="row expanded dark-bg">
    {% include footer.html %}
  </div>

</section>