
<div class="row">
	<div class="columns large-8">
		<h1>Danke!</h1>
		<p>
			Ich freue mich, dass du dir die Zeit genommen hast dich umzusehen. Jetzt wo du sogar bei diesem Abschnitt angekommen bist kann ich es dir ja verraten. Ich mag es wenn man sich Zeit für Detaills nimmt und aufmerksam ist. Danke dafür.
		</p>
	</div>
	<div class="columns large-4">
		<h1>Fact's</h1>
		<ul>
			<li>
			<p>I Influence. Let's Influence!</p>
			</li>
			<li>
				<p>Feature me? Feature me.</p>
			</li>
			<li>
				<p>Write me anything.</p>
			</li>
		</ul>
	</div>
</div>
<div class="columns large-12 bright-bg">
</div>