<div class="columns large-12 margin-bottom">
	<div class="columns large-6 small-12">
		<div class="oddnina-avatar center"></div>
	</div>
	<div class="columns large-6 small-12 margin-top">
		<h2>Hej, ich bin Janina Kozubik</h2>
		<p>Ich liebe Computerspiele, Serien und Filme. Ich reise gerne und esse mich durch landestypische Gerichte. Ich fahre eine englische Supersportler, liebe Irland, England und Schottland. Manchmal nennt man mich Tee- und Katzenexpertin. Ich streame spiele ins Netz, blogge und lebe Social Media. Außerdem bin ich ästhetin mit einer Schwäche für schwedisches Design und schöne Verpackungen.</p>
		<div class="button expanded"><a href="">more..</a></div>
	</div>
</div>