<div class="row">
	<div class="columns large-12 margin-top  margin-bottom">
		<h1 class="center margin-top text-align-center">Projects</h1>
	</div>
</div>
<div class="row margin-bottom">
	<div class="columns large-4 small-12">
		<a href="{{ site.url }}"><div class="oddgaming-logo center"></div></a>
		<h3>OddGaming</h3>
		<p>2014 begann ich auf twitch Computerspiele ins Netz zu streamen, wechselte drei Monate später zu hitbox.tv und im August 2016 wieder zurück zu twitch. Jetzt streame ich für den deutschen NVIDIA und natürlich auf meinem eigenen Channel!</p>
		<ul class="social-list">
			<li><a href="mailto:gaming@oddnina.de"><div class="socicon-mail"></div></a></li>
			<li><a href="https://facebook.com/oddninagaming"><div class="socicon-facebook"></div></a></li>
			<li><a href="https://twitch.tv/oddnina"><div class="socicon-twitch"></div></a></li>
			<li><a href="https://twitch.tv/oddnina"><div class="socicon-discord"></div></a></li>
		</ul>
	</div>
	<div class="columns large-4 small-12">
		<a href="{{ site.url }}"><div class="oddblog-logo center"></div></a>
		<h3>OddBlog</h3>
		<p>So wie viele, hatte ich natürlich auch einen eigenen Blog. Über 6 Jahre schrieb ich sehr persönlich über mich, meine Reisen und vor allen Dingen über Tee. Seit einiger Zeit ist er aufgrund von Zeitmangel stillgelegt, aber das Archiv ist noch aktiv.</p>
		<ul class="social-list">
			<li><a href="mailto:info@oddnina.de"><div class="socicon-mail"></div></a></li>
			<li><a href="https://facebook.com/oddninablog"><div class="socicon-facebook"></div></a></li>
			<li><a href="https://twitter.com/oddnina_de"><div class="socicon-twitter"></div></a></li>
		</ul>
	</div>
	<div class="columns large-4 small-12">
		<a href="https://fafine.de/blog/author/oddnina/"></a><div class="fafine-logo center"></div>
		<h3>Co-Authorin fafine</h3>
		<p>Seit September 2016 darf ich bei fafine.de über Gaming schreiben. Der Ursprüngliche Fashion Blog befasst sich schon seit langem mit weitaus mehr Themen als Outfits und Make Up und umfassen jetzt eben auch Gaming Themen. </p>
		<ul class="social-list">
			<li><a href="mailto:hello@fafine.de"><div class="socicon-mail"></div></a></li>
			<li><a href="https://www.facebook.com/annafrost.de"><div class="socicon-facebook"></div></a></li>
			<li><a href="https://fafine.de/"><div class="socicon-wordpress"></div></a></li>
		</ul>
	</div>
</div>